body {
    background-color: black;
}

.title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #3fa07f;
    text-align: center;
}

p {
    font-family: ptSerif;
    font-size: 18px;
    color: #31D5E0;
}

.p2 {
    font-family: ptSerif;
    font-size: 18px;
    color: #94ff8c;
}

.p3 {
    font-family: ptSerif;
    font-size: 18px;
    color: #f53e1d;
}

a {
    color: #ff3075;
}

h1 {
    font-size: 20px;
    font-family: roboto;
    color: #31D5E0;
}
div {
    max-width: 1300px;
    margin: auto;
    /*background-color: rgba(197, 37, 37, 0.4);*/
    padding: 10px;
}

@font-face {
    font-family: ptSerif;
    src: url("../Fonts/PTSerif-Regular.ttf");
}

@font-face {
    font-family: roboto;
    src: url("../Fonts/Roboto-Regular.ttf");
}